
.powerFlow {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-flow: dense;
  
}
  
.box_flow {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--soft-bg);
}
  
.box_1row_1col_flow {
    grid-column: span 1;
    grid-row: span 1;
}

.box_1row_1col_flow_solar_icon {
    grid-column: span 1;
    grid-row: span 1;
    background-color: beige;
    opacity: 0.85;
}

.box_1row_1col_flow_pad {
    padding-top: 20px;
    grid-column: span 1;
    grid-row: span 1;
}

.solar_icon_white {
    display: flex;
    justify-content: center;
}

.solar_icon_black {
    display: flex;
    justify-content: center;
    color:#202020
}

.home_icon {
    display: flex;
    justify-content: center;
}

.grid_power_icon_white{
    display: flex;
    justify-content: center;
}

.grid_power_icon_black{
    display: flex;
    justify-content: center;
    color:#202020
}

.box_1row_1col_flow_grid_power_icon {
    grid-column: span 1;
    grid-row: span 1;
    background-color: beige;
    opacity: 0.85;
}

.box_1row_1col_flow_hide_order{
    grid-column: span 1;
    grid-row: span 1;
    border: 0px
}

.battery_energy {
    text-align: center;
}


.flex-batteries-container-active{
    display: flex;
    flex: 1 1 0%;
    gap: 20px;
    margin-top: 1em;
    border: 2px solid var(--soft-bg);
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #777696;
    opacity: 0.85;
}

.flex-batteries-container-ideal{
    display: flex;
    flex: 1 1 0%;
    gap: 20px;
    margin-top: 1em;
    border: 2px solid var(--soft-bg);
    border-radius: 10px;
    padding: 10px 10px;
}


.flex-battery{
    border: 2px solid var(--soft-bg);
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
}

